/*Propuesta A*/
div {
    border-top: 10px solid black;
    border-right: 40px solid black;
    border-bottom: 20px solid black;
    border-left: 30px solid black;
}

/*PROPUESTA B*/
/* Enlaces rojos al pasar el mouse */
a{
    color: red;
    text-decoration: none;
}

/*Usuario situa el cursor sobre el enlace*/
a:hover {
    color: white;
    background-color: red;
    text-decoration: underline;
}
/*Cuando un enlace está activo, se muestra de color naranja y sin subrayado.*/
a:active {
    color: orange;
    text-decoration: none;
}
/* Enlaces verdes cuando han sido visitados */
a:visited {
    color: darkgreen;
}
/* Estado con foco (por teclado, por ejemplo) */
a:focus{
    color: blue;
    text-decoration: underline;
}


p{
    font-style: italic;
}